.container-fluid {
    background-color: rgb(8, 37, 8);
  }
  
  .container {
    max-width: 98rem;
    margin: 0 auto;
    background-color: rgb(8, 37, 8);
  }
  
  .content {
    margin: 3.2rem;
    background-color: rgb(8, 37, 8);
    text-align: center;
  }