.input {
    background-color: transparent;
    text-align: center;
    font-size: 1.8rem;
    padding: 0.8rem;
    color: var(--text-default);
    outline: none;
  
    border: 0.2rem solid transparent;
    border-bottom: 0.2rem solid var(--primary);
    transition: all 0.15s ease-in-out;
    width: 100%;
    box-sizing: border-box;
  }
  
  .input:focus {
    border-radius: 0.8rem;
    border: 0.2rem solid var(--primary);
  }
  
  .input::placeholder {
    color: var(--gray-500);
    font-size: 1.4rem;
    font-style: italic;
  }
  
  .input:disabled {
    color: var(--text-muted);
    border-bottom: 0.2rem solid var(--disabled);
  }